<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'horariomanagerapp/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horário</title>
    <link href="https://unpkg.com/tabulator-tables@5.4.0/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tabulator-tables@5.4.0/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>

</head>
<body>

    <div class="header-container">
        <h1 class="page-title">Gestão de Horários - Filtros e Alterações</h1>
        <button id="saveChangesButton" class="custom-file-input">Transferir ficheiro com alterações</button>
        <button id="storeChangesButton" data-schedule-id="{{ schedule.id }}" class="custom-file-input">Guardar alterações</button>
        <button id="toggleButton" class="custom-file-input">Mostrar tabela de características</button>
        <button id="updateScheduleCharacteristicsButton" class="custom-file-input">Atualizar Caracteristicas Horário</button>
        <input type="file" id="fileInput" style="display: none;" />
        <a href="{% url 'schedule_list' %}" class="custom-file-input" style="text-decoration: none;">Voltar à lista de horários</a>
    </div>


<div style="display: flex; justify-content: space-between; align-items: flex-start; gap: 20px; width: 90%; margin: auto;">

    <div id="schedule-container" style="flex: 3; min-width: 60%;">
        <h2>Horário - {{ file_name }}</h2>
        <div id="schedule-table"></div>
        <br>

        <br>
    </div>

    <div id="filters-container" style="flex: 1; min-width: 250px;">
        <h2 style="text-align: center;">Filtros</h2>
        <div style="display: flex; flex-direction: column; gap: 20px;">

            <div style="text-align: center;">
                <button id="overcrowdedFilterButton" class="custom-file-input">Aulas em sobrelotação</button>
                <div id="overcrowdedMetrics" style="margin-top: 10px; font-weight: bold; display:none;"></div>
            </div>

            <div style="text-align: center;">
                <button id="overlapFilterButton" class="custom-file-input">Aulas em sobreposição</button>
                <div id="overlapMetrics" style="margin-top: 10px; font-weight: bold; display:none;"></div>
            </div>

            <div style="text-align: center;">
                <button id="classWithoutRoomButton" class="custom-file-input">Aulas sem sala</button>
                <div id="withoutRoomMetrics" style="margin-top: 10px; font-weight: bold; display:none;"></div>
            </div>

            <div style="text-align: center;">
                <button id="timeRegulationsButton" class="custom-file-input">Aulas contra regulação dos horários</button>
                <div id="timeRegulationsMetrics" style="margin-top: 10px; font-weight: bold; display:none;"></div>
            </div>

            <div style="text-align: center;">
                <button id="matchingCharacteristicsButton" class="custom-file-input">Aulas com características erradas</button>
                <div id="characteristicsMetrics" style="margin-top: 10px; font-weight: bold; display:none;"></div>
            </div>
            <div style="text-align: center;">
                <button id="resetFilterButton" class="custom-file-input">Limpar filtros</button>
            </div>
        </div>
    </div>
</div>
<div class="form-container">

    <div class="inputs-container">
        <input type="text" id="curso" placeholder="Curso">
        <input type="text" id="unidade" placeholder="Unidade de execução">

        <input type="text" id="turno" placeholder="Turno">
        <input type="text" id="turma" placeholder="Turma">
        <input type="number" id="inscritos" placeholder="Inscritos">

        <input type="date" id="dia" placeholder="Dia">
        <input type="time" id="inicio" placeholder="Início">
        <input type="time" id="fim" placeholder="Fim">
    </div>

    <div class="dropdowns-container">
        <select id="caracteristicas">
            <option value="" disabled selected>Características pedidas</option>
        </select>
    </div>

    <div class="dropdowns-container">
        <select id="sala">
            <option value="" disabled selected>Sala</option>
        </select>
    </div>

    <div class="button-container">
        <button onclick="addNewRow()" class="custom-file-input">Adicionar linha</button>
    </div>
</div>

<br>

    <h2 id="characteristics-h2" style="display: none">Características das Salas</h2>
    <div id="characteristics-table">
</div>


<div id="recommendationsPopup" class="popup" style="display: none;">
    <div class="popup-content">
        <h2 style="color: #ffffff">Escolha um novo horário</h2>
        <ul id="recommended-dates-list"></ul> <!-- List of recommended dates -->
        <button id="popup-close-btn">Cancelar</button> <!-- Close button -->
    </div>
</div>


<div id="metricBalancePopup" class="popup-metrics">
    <div id="metricBalance" style="font-weight: bold;"></div>
</div>



<br><br><br>

        <script src="{% static 'script.js' %}" file-url="{{ file_url }}" characteristics-url="{{ characteristics_url }}" data-schedule-id="{{ schedule.id }}"></script>




</body>
</html>
