 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.button-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.custom-file-input {
    padding: 12px 24px;
    background-color: #636363;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-file-input:hover {
    background-color: #4d4d4d;
}

.custom-file-input:active {
    transform: scale(0.95);
}

#scheduleFileInput, #characteristicsFileInput {
    display: none;
}

#scheduleFileInput, #characteristicsFileInput {
    font-size: 1.1em;
    margin-top: 20px;
    color: #555;
}

#filters-container div {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    div[style*="display: flex;"] {
        flex-direction: column;
        align-items: center;
    }

    #schedule-container, #filters-container {
        width: 100%;
    }
}

 #schedule-table{
     border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


#characteristics-table{
    margin-top: 30px;
    width: 80%;
    border: 1px solid #ddd;
    table-layout: fixed;
    text-align: left;
    display: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
}

.tabulator-header {
    background-color: #3b6e91;
    color: white;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
}

.tabulator-col {
    min-width: 150px;
    width: auto;
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
    word-wrap: normal;
    text-align: left;
}

.tabulator-cell {
    padding: 10px !important;
    text-align: center !important;
}

.tabulator-row:nth-child(even) {
    background-color: #f9f9f9 !important;
}

.tabulator-row:hover {
    background-color: #f1f1f1 !important;
}

.popup-metrics {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-metrics.show {
    opacity: 1;
    transform: translateY(0);
}

.popup-metrics h4 {
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
}

.popup-metrics p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.popup-metrics button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #636363;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.popup-metrics button:hover {
    background-color: #4d4d4d;
}

.popup-metrics button:active {
    transform: scale(0.95);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* File Input Styles */
input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 100%;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

/* Button Styles */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #636363;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #4d4d4d;
}

.schedule-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.schedule-table th,
.schedule-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.schedule-table th {
    background-color: #636363;
    color: white;
    font-size: 18px;
}

.schedule-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.schedule-table tr:hover {
    background-color: #f1f1f1;
}

.view-btn {
    background-color: #636363;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.view-btn:hover {
    background-color: #4d4d4d;
}

.inline-form {
    display: flex;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    align-items: center;
    width: fit-content; /* Makes the form the size of the button */
}

.inline-form .table-delete-btn {
    background-color: #8b0000;
    color: white;
    padding: 8px 16px;  /* Same padding as the view-btn */
    text-align: center;
    border-radius: 4px;
    font-size: 14px; /* Same font-size as the view-btn */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    border: none;
}

.inline-form .table-delete-btn:hover {
    background-color: #600000;
}

.button-container {
    display: flex;
    gap: 8px;
}


